body{
    background-color: #F0993C;
    background-image: url("images/brick.png");
    color: white;
    font-family: 'Fredericka the Great', cursive;
}
h1{
  font-size: 60px;
  padding-top: 40px;
  padding-left: 400px;
  color: yellow;

}
h3{
  font-style: italic;
  padding-left: 400px;
}
h4{
  font-size: 30px;
  text-align: center;
}

.note{
  float: left;
  padding-top: 30px;
  text-align: center;
}
.things{
  text-align: center;
  font-size: 35px;

}
.table{
  float: right;
}
.p1{
  float: left;
  padding-left: 80px;
}
.p2{
  float: left;
  padding-left: 60px;
}
.p3{
  float: left;
  padding-left: 40px;
}
.p4{
  float: left;
  padding-left: 5px;
}

.greece:hover {
  opacity: 0.5;
}
.portugal:hover {
  opacity: 0.5;
}
.cuba:hover {
  opacity: 0.5;
}
.mainpic{
  position: relative;
  float: right;
  height: 400px;
  width: 600px;
  border-radius: 0;
}
.curr{
  float: left;
}
.todo{
  float: right;
  margin-left: 10px;
}
.button{
  background-color: transparent;
  border-color: black;
  border-style: solid;
  text-align: center;
  font-size: 16px;
  color: black;
  margin-left: 100px;
}
footer{
  margin-top: 600px;
}
img
{
  width: 100px;
  height: 100px;
  border-radius: 50%
}